<label for="startAt">
    <f:translate key="tx_t3booking_domain_model_booking.start_at"/>
</label><br/>
<f:form.textfield property="startAt" value="{booking.startAt->f:format.date()}" class="date start_date"/><br/>

<label for="endAt">
    <f:translate key="tx_t3booking_domain_model_booking.end_at"/>
</label><br/>
<f:form.textfield property="endAt" value="{booking.endAt->f:format.date()}" class="date end_date"/><br/>

<label for="classification">
    <f:translate key="tx_t3booking_domain_model_booking.classification"/>
</label><br/>
<f:form.textfield property="classification"/>
<br/>

<label for="quantity">
    <f:translate key="tx_t3booking_domain_model_booking.quantity"/>
</label><br/>
<f:form.textfield property="quantity"/><br/>