<f:layout name="Email"/>

<f:section name="main">
Sehr geehrte(r) {booking.user.name},
Wir danken für Ihre Buchungsanfrage am Eislaufkalender des Lentparks Köln.

In Kürze werden wir Ihre Anfrage beantworten, bis dahin ist Ihre Buchung mit dem Status reserviert in unserem System hinterlegt.

Ihre Buchungsdetails:

Datum: {booking.startAt -> f:format.date(format: 'd.m.Y')}
Uhrzeit: {booking.startAt -> f:format.date(format: 'H:i')} - {booking.endAt -> f:format.date(format: 'H:i')}
Personen: {booking.quantity}
Klasse: {booking.classification}

</f:section>