{namespace hri = Hri\T3booking\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">

    <script>

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,month'
                },
                defaultDate: '<f:format.date format="Y-m-d">{today}</f:format.date>',
                defaultView: 'agendaWeek',
                firstDay: 1,
                weekNumbers: true,
                allDaySlot: false,
                minTime: "08:00",
                maxTime: "23:00",

                editable: false,
                selectable: false,

                eventLimit: true, // allow "more" link when too many events
                eventSources: [
                    {
                        // ajax BookingController:occupationAction
                        url: '/?type=5000',
                        // cache: true,
                        // color: '#ff0000',    // an option!
                        textColor: '#333'  // an option!
                    },
                    {
                        // ajax BookingController:requestsJsonAction
                        url: '/?type=5001',
                        // cache: true,
                        color: 'yellow',    // an option!
                        textColor: '#333'  // an option!
                    }
                ]
            });

        });

    </script>

    <div id='calendar'></div>

</f:section>