@charset "UTF-8";
/**
 * Köln Bäder - Lentpark Buchungen
 * SCSS Style Definitionen
 *
 * @author Ralf Schneider <ralf@hr-interactive.de>
 * @since: 2014-08-27
 */
.tx-t3booking ul.errors {
  color: #c00; }
  .tx-t3booking ul.errors .error_field_name {
    font-weight: bold; }
  .tx-t3booking ul.errors > li {
    margin-bottom: 10px; }
.tx-t3booking table.week {
  border-collapse: collapse; }
  .tx-t3booking table.week th {
    border: 1px solid gray;
    width: 100px; }
    .tx-t3booking table.week th.day_6, .tx-t3booking table.week th.day_7 {
      background-color: #e6e6e6; }
  .tx-t3booking table.week td {
    border: 1px solid gray;
    height: 15px;
    background-color: rgba(0, 255, 0, 0.4); }
    .tx-t3booking table.week td.day_6, .tx-t3booking table.week td.day_7 {
      background-color: rgba(0, 204, 0, 0.4); }
    .tx-t3booking table.week td.status_orange {
      background-color: orange; }
      .tx-t3booking table.week td.status_orange.day_6, .tx-t3booking table.week td.status_orange.day_7 {
        background-color: #cc8400; }
    .tx-t3booking table.week td.status_red {
      background-color: #cc0000; }
      .tx-t3booking table.week td.status_red.day_6, .tx-t3booking table.week td.status_red.day_7 {
        background-color: #990000; }
