/**
 * Köln Bäder - Lentpark Buchungen
 * SCSS Style Definitionen
 *
 * @author Ralf Schneider <ralf@hr-interactive.de>
 * @since: 2014-08-27
 */

// Allgemeine Farbdefinitionen
$gray: #808080;
$blue: #5B90BF;
$red: #F6090E;

$tableBorder: $gray;


.tx-t3booking {

  font-family: arial, helvetica, clean, sans-serif;
  font-size: 14px;

  padding: 5px;

  h1 {
    color: black;
    margin: 5px 0 0 10px;
  }

  ul.errors {
    color: #c00;
    .error_field_name {
      font-weight: bold;
    }
    > li {
      margin-bottom: 10px;
    }
  }
  table {
    th, td {
      vertical-align: top;
    }
  }
  table.tx-t3booking-list {
    color: #2a2a2a;
    border-collapse: collapse;
    thead {
      display: none;
    }
    td {
      border-left: 1px solid #cbcbcb;
      padding: 0px 5px;
      vertical-align: middle;
      &.cal,
      &.date,
      &.icon {
        border: none;
      }
      &.cal {
        padding: 0;
      }
    }
  }
  table.tx-t3booking-show {

    border-collapse: separate;
    border-spacing: 10px;
    color: $blue;
    a {
      text-decoration: underline;
    }
    .company {
      font-weight: bold;
    }
    .comment {
      background-color: yellow;
      border: 1px solid darken(yellow, 10%);
      color: rgb(51, 51, 51);
      padding: 3px 5px;
    }
    tbody {
      color: #333;
      th {
        text-align: left;
        width: 120px;
        font-weight: normal;
      }
      td {
        text-align: left;
      }
    }
  }
  table.tx-t3booking-edit {
    border-collapse: separate;
    border-spacing: 10px;
    .comment,
    textarea {
      background-color: yellow;
      border: 1px solid darken(yellow, 10%);
      color: rgb(51, 51, 51);
      padding: 3px 5px;
    }
    .warning {
      color: $red;
      font-weight: bold;
    }
    th {
      width: 120px;
      text-align: left;
    }
  }
  .tx-t3booking-toolbar {
    a {
      display: inline-block;
      width: 90px;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      color: white;
      font-weight: bold;
      background-color: #e1e1e1;
      &.active,
      &:hover {
        color: black;
        background-color: #f6f6f6;
      }
    }
    padding-bottom: 5px;
  }
  table.tx-t3booking-buttons {
    td {
      width: 100px;
      text-align: center;
    }
  }


  .fc-time-grid-event {
    max-width: 170px;
  }


}