<f:layout name="Default"/>


<f:section name="main">

    <f:flashMessages renderMode="div"/>

    <table class="tx-t3booking-list">
        <thead>
        <tr>
            <th></th>
            <th colspan="2" scope="col">
                <f:translate key="tx_t3booking_domain_model_booking.time"/>
            </th>
            <th scope="col">
                <f:translate key="tx_t3booking_domain_model_user.company"/>
            </th>
            <th scope="col">
                <f:translate key="tx_t3booking_domain_model_user.classification"/>
            </th>
            <th scope="col">
                <f:translate key="tx_t3booking_domain_model_booking.quantity"/>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{bookings}" as="booking">
            <tr>
                <td class="cal">
                    <f:link.action action="show" arguments="{booking : booking}" class="btn">
                        <f:image src="EXT:t3booking/Resources/Public/Icons/view.png" alt="{f:translate(key: 'tx_t3booking.show')}"/>
                    </f:link.action>
                </td>
                <td class="date">{booking.startAt ->
                    f:format.date(format: 'd.m.Y')}
                </td>
                <td class="time">
                    {booking.startAt ->
                    f:format.date(format: 'H:i')} - {booking.endAt -> f:format.date(format: 'H:i')}
                </td>
                <td class="company">{booking.user.company}</td>
                <td class="classification">{booking.classification}</td>
                <td class="quantity">
                    {booking.quantity}
                    <f:translate key="tx_t3booking_domain_model_booking.unit"/>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>

</f:section>